
%h1= @post.title
%p= @post.content
%hr

- @post.comments.each do |comment|
	%h3= comment.content
	%p
		Submitted by
		= comment.user.email
	- if user_signed_in? && @post.user == current_user
		= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default"
	%hr

= render 'comments/form'

- if user_signed_in? && @post.user == current_user
	%hr
	= link_to "Edit Post", edit_post_path(@post), class: "btn btn-default"
	= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
